.contact.sticky-top.border-bottom.px-3
  img.avatar(src="images/avatar_4.jpg", alt="")
  .contact-body
    p.contact-name= "Вениамин Редакторович"
    p.contact-status= "Онлайн"
.flex-grow-1.px-5.pt-5.scrollable
  +incoming(
    "Вениамин Редакторович",
     "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
      "8 минут назад",
      "images/avatar_4.jpg")
  +outbound("Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
   "8 минут назад",
   "images/avatar_1.jpg")
  +incoming(
    "Вениамин Редакторович",
     "Лады",
      "5 минут назад",
      "images/avatar_4.jpg")
  +outbound("А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
   "3 минут назад",
   "images/avatar_1.jpg")
form.mx-lg-5.py-3.px-4.d-flex.align-items-center.border-top(action="#")
  div.flex-grow-1
    input.form-control-plaintext.p-0.text-secondary.me-3(placeholder= "Напишите сообщение...")
  button.btn.btn-primary.btn-pill(type="submit" aria-label="Отправить сообщение")
    +icon("cursor", "20px")(class="fill-light")
