-
  const dialogsData = [{
      name: "Вениамин Редакторович",
      message: "o_O",
      time: "11:45",
      avatar: "/images/avatar_4.jpg"
    },
    {
      name: "Джедай Падаванов",
      message: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      time: "10:12",
      avatar: "/images/avatar_2.jpg"
    },
    {
      name: "Алексей Примадонин",
      message: "Тесты упали >_<",
      time: "08:53",
      avatar: "/images/avatar_3.jpg"
    }
  ];

h2.h2.mb-4 Чаты
form.mb-5
  +light-input('Поиск по сообщениям')
each dialogData in dialogsData
  - const { name, message, time, avatar } = dialogData;
  +dialog(name, message, time, avatar)
