nav.navbar.header.bg-primary.p-3
  +icon("logo")
  ul.nav.small.text-light
    li.nav-item
      a.nav-link.flex-fill(href="#contacts")
        +icon("people")(class="me-2")
        span.d-none.d-xxl-inline Контакты
    li.nav-item
      a.nav-link(href="#chats")
        +icon("chat")(class="me-2")
        span.d-none.d-xxl-inline Сообщения
    li.nav-item
      a.nav-link(href="#profile")
        +icon("person")(class="me-2")
        span.d-none.d-xxl-inline Профиль
