@import "../../node_modules/bootstrap/scss/functions";


@import "../../node_modules/bootstrap/scss/variables";

// Default variable overrides
@import "./variables.scss";

// Required
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/utilities";

@import "./utilities/utilities";
// // Optional Bootstrap components
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "mixins/mixins";

@import "./components/contact";
@import "./components/message";
@import "./components/avatar";

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

:is(#messages, #contacts, #profile):target {
  display: block!important;
  animation: fadeIn 0.8s;
}

@include media-breakpoint-down(lg) {
  #current-chat:target {
    display: block!important;
    animation: fadeIn 0.8s;
  }
}

.icon {
  fill: $light;
}

.scrollable {
  @include hide-scrollbar();
}
