@use "sass:map";

$gray: #efefef;
$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;
$theme-colors: (
  "gray":       $gray,
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px,
  xxl: 1500px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px,
  xxl: 1440px,
);

// Layout
// $border-color: $gray;
$border-radius: 1rem;
$enable-shadows: true;

// Header
$nav-link-color: map.get($theme-colors, "light");
$nav-link-hover-color: map.get($theme-colors, "gray");

// Typograph
$font-size-xs: 0.8rem;
$font-sizes: map.merge($font-sizes, (7: $font-size-xs));
$list-group-bg: map.get($theme-colors, "light");
$list-group-border-color: $border-color;
