@use "sass:map";

$gray:      #efefef;
$primary:   #4545A5;
$secondary: #6C757D;
$success:   #28A745;
$info:      #17A2B8;
$warning:   #FFC107;
$danger:    #DC3545;
$light:     #FBFBFB;
$dark:      #343A40;

$theme-colors: (
  'gray':       $gray,
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
);

// Layout
$border-color: $gray;
$border-radius: 1rem;
$enable-shadows: true;

// Header
$nav-link-color: map.get($theme-colors,"light");
$nav-link-hover-color: map.get($theme-colors, "gray");

// Typograph
$font-size-xs: 0.8rem;

$font-sizes: map-merge($font-sizes, (7: $font-size-xs));

$list-group-bg:  map.get($theme-colors, "light");
$list-group-border-color: $border-color;
