@use "sass:map";

$utilities-names: "rounded"
  "rounded-top"
  "rounded-end"
  "rounded-bottom"
  "rounded-start"
  "border"
  "border-top"
  "border-end"
  "border-bottom"
  "border-start"
  "width";

@each $utility-name in $utilities-names {
  $utilities: map.merge(
    $utilities,
    (
      #{$utility-name}: (
        map.merge(map.get($utilities, $utility-name), ( responsive: true ))
      ),
    )
  );
}

$utilities: map.merge(
  $utilities,
  (
    "small-viewport-height": (
      property: height,
      class: svh,
      values: (100: 100svh)
    ),
    "rounded-left-top": (
      responsive: true,
      property: border-top-left-radius,
      class: rounded-left-top,
      values: (null: var(--#{$prefix}border-radius))
    ),
  )
);
