@use "sass:map";

.contact {
  display: flex;

  padding: map.get($spacers, 3);
  column-gap: $grid-gutter-width;
  align-items: center;
  text-decoration: none;


  &-body {
    display: flex;
    flex-direction: column;

    > * {
      margin: 0;
    }
  }

  &-name {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $body-color;
  }

  &-status {
    font-size: $font-size-sm;
    color: map.get($theme-colors, 'secondary');
  }

  @media (any-hover: hover) {
    &-hover.contact:hover {
      background-color: map.get($theme-colors, "primary");
      cursor: pointer;

      .contact-name {
        color: map.get($theme-colors, "light");
      }

      .contact-status {
        color: map.get($theme-colors, "gray");
      }
    }
  }
}
