@use "sass:map";

.contact {
  display: flex;
  align-items: center;

  text-decoration: none;

  &-body {
    display: flex;
    flex-direction: column;
    padding: map.get($spacers, 4);

    > * {
      margin: 0;
    }
  }

  &-name {
    color: $body-color;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
  }

  &-status {
    color: map.get($theme-colors, "secondary");
    font-size: $font-size-sm;
  }

  @media (any-hover: hover) {
    &-hover.contact:hover {
      background-color: map.get($theme-colors, "primary");
      cursor: pointer;

      .contact-name {
        color: map.get($theme-colors, "light");
      }

      .contact-status {
        color: map.get($theme-colors, "gray");
      }
    }
  }
}
