@use "sass:map";

.message {
  display: flex;

  align-items: center;
  padding-right: map.get($spacers, 3);
  padding-left: map.get($spacers, 3);

  text-decoration: none;

  box-shadow: $box-shadow-sm;

  &-body {
    display: grid;
    flex-grow: 1;

    padding: map.get($spacers, 4);
    overflow: hidden;

    * {
      margin: 0;
    }
  }

  &-name-time {
    display: flex;
    justify-content: space-between;
  }

  &-name {
    color: $body-color;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
  }

  &-time,
  &-text {
    color: map.get($theme-colors, "secondary");
    font-size: $font-size-sm;
  }

  &-text {
    display: inline-block;

    max-width: 100%;
    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
  }

  &:hover {
    cursor: pointer;
  }
}
