extends layout/layout

block header
  include components/nav-chat

block chat
  include components/mobile-chat
block dialogs
  include components/dialogs-chat
block contacts
  include components/contacts-chat
block profile
  include components/profile
block desktop-area
  include components/desktop-chat
