extends layout/layout

block header
  include components/header-chat

block chat
  #current-chat.d-none
    include components/chat
block messages
  include components/messages
block contacts
  include components/contacts
block profile
  include components/profile
block desktop-area
  .col-lg-8.h-100.bg-light.scrollable
    include components/chat
