extends layout/layout

block header
  include components/nav-index

block dialogs
  include components/dialogs-index
block contacts
  include components/contacts-index
block profile
  include components/profile
block desktop-area
  include components/greeting-card
