extends layout/layout

block header
  include components/header

block chat
  include components/messages
block contacts
  include components/contacts
block profile
  include components/profile
block desktop-area
  include components/greeting-card
