extends layout/layout

block header
  include components/header

block chat
  | Чат с котиками
block contacts
  include components/contacts/contacts
block profile
  | Мой профиль
block desktop-area
  include components/greeting-card.pug
