include ../mixins/mixins
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Layout Designer Project 3
    link(rel="stylesheet", href="styles/style.css")
  body.bg-gray.svh-100
    .container-xxl.p-0.p-md-4.h-100
      .row.h-100.gx-0
        .main-area.col-lg-4.d-flex.flex-column-reverse.flex-lg-column.bg-light.border-end-lg.h-100
          block header
          block chat
          block messages
          block contacts
          block profile
        block desktop-area
