include ../mixins/mixins
doctype html
html.h-100(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Layout Designer Project 3
    link(rel="stylesheet", href="styles/style.css")
    script(defer src="js/bootstrap.min.js")
  body.bg-gray.h-100
    .container-xxl.p-0.p-md-4.h-100
      .row.h-100.gx-0.bg-white.rounded-md.overflow-hidden
        .main-area.col-md-5.col-lg-4.d-flex.flex-column-reverse.flex-md-column.border-end-md.h-100
          block header
          .h-100.scrollable.tab-content
            block chat
            block dialogs
            block contacts
            block profile
        block desktop-area
