mixin contact(name, status, avatar, href = "#")
  a.contact.contact-hover.shadow-sm.mb-3(href= href tabindex=0)
    img.ms-3.avatar(src=avatar, alt="")
    .contact-body
      p.contact-name= name
      p.contact-status= status
