mixin contact(name, status, avatar)
  a.contact.contact-hover.shadow-sm.mb-3(tabindex=0)
    img.avatar(src=avatar, alt="")
    .contact-body
      p.contact-name= name
      p.contact-status= status
