mixin icon(id, width = "16px", height = "")
  -
    if (height === "") {
      height = width;
    }
  - const path = "images/sprite.svg#";
  svg(width!= width, height!= height)&attributes(attributes)
    use(xlink:href!=path+id)
